# Visual Studio
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb
ipch/

# Build output
build/
Debug/
Release/
x64/
x86/

# Intermediate and debug files
*.obj
*.ilk
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.recipe
*.log

# Driver and app binaries
*.sys
*.exe
*.dll
*.lib
*.exp
*.cer

# Resource compiler temp files
RC*.tmp
RCa*
