#include "resource.h"
#include <afxres.h>

IDD_KREVCLIENT_DIALOG DIALOGEX 0, 0, 276, 158
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "KrEv Client"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT           "KrEv driver message viewer",IDC_STATIC_TITLE,10,10,160,12
    PUSHBUTTON      "Read Driver Message",IDC_BUTTON_QUERY,10,28,110,18
    EDITTEXT        IDC_EDIT_OUTPUT,10,54,250,86,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END
